-
	const offers = [
		{
			price: "€80",
			desc: "/month",
			title: "basic",
			list: [
				'Удобная онлайн-платформа',
				'Длительность марафона - <span>4 недели</span>',
				'<span>Доставка</span> инновационных продуктов для ускорения метаболизма <span>(1 шт)</span>',
				'<span>11 тренировочных планов</span>, более <span>150 тренировок</span>'
			]
		},
		{
			price: "€120",
			desc: "/month",
			title: "Standart",
			list: [
				'<span>Все что есть в плане Basic</span>',
				'<span>20 тренировочных планов</span>, более <span>200 тренировок</span>',
				'<span>Трекеры</span> полезных <span>привычек</span>',
				'<span>Коврик</span> для занятий в подарок',
				'<span>Доставка</span> инновационных продуктов для ускорения метаболизма <span>(2 шт)</span>',
				'<span>Промокод</span> на витамины на <span>20 евро</span> (банка отдельно стоит минимум 40 евро)',
			]
		},
		{
			price: "€180",
			desc: "/month",
			title: "pro",
			list: [
				"<span>Все что есть в плане Standart</span>",
				'<span>Доставка витаминного комплекса</span>',
				'Более <span>8000</span> вкусных и полезных <span>рецептов</span>',
				'<span>Подарок</span>',
				'<span>Трекеры</span> полезных <span>привычек</span>, удобная система напоминаний',
				'<span>Доставка</span> инновационных продуктов для ускорения метаболизма <span>(2 шт)</span>'
			]
		}
	];
